* {
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 50%; /* Уменьшение базового размера шрифта для малых экранов */
  }
}

@media (min-width: 768px) {
  html {
    font-size: 56.25%; /* Увеличение для планшетов */
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%; /* Увеличение для десктопов */
  }
}
