.text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.24rem;
  &_price {
    color: #444b58;
    font-size: 2rem;
    font-weight: 400;
  }
  &_select {
    color: #808080;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &_checkbox {
    color: #444b58;
    font-size: 1.6rem;
    font-weight: 600;
  }
  &_steps {
    color: #808080;
    font-size: 1.6rem;
    font-weight: 600;
  }
}
