.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.id {
  display: flex;
  gap: 1rem;
}
