.container {
  padding: 4rem 10rem 4rem;
  border-radius: 4px;
  background: #fff4ee;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  border-bottom: 1px solid #808080;
  padding-bottom: 0.3rem;
}

.products {
  padding: 2rem 0;
}
