.input {
  display: block;
  padding: 1.5rem 1.7rem;
  width: 100%;
  border: none;
  background-color: #f6f6f6;
  font-size: 1.6rem;
  outline: none;
  border-radius: 4px;
  color: #444b58;

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &::placeholder {
    color: #b2b5bb;
  }
}
