.container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  & :last-child {
    align-self: center;
  }
}

.categories {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.143px 1.143px 0.286px 0.286px;
}
